:root{
      --dark:#37353E;
      --blue:#44444E;
      --light:#715A5A;
      --cream:#D3DAD9;
    }

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family:'Poppins', sans-serif;
    }

    body{
      background: linear-gradient(135deg,var(--cream), var(--light) );
      color: var(--dark);
      scroll-behavior: smooth;
    }

    header{
      position:sticky;
      top: 0;
      z-index: 1000;
      background: rgb(255,255,255,0.25);
      border-bottom: 1px solid rgba(255,255,255,0.3);
      backdrop-filter: blur(12px);
      border-radius: 30px;
      margin:20px 100px;
    }

    .nav{
      max-width: 1100px;
      padding: 15px 25px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin: auto;
    }

    .nav ul{
      list-style: none;
      gap: 25px;
      display: flex;
    }

    .nav a{
      color: var(--dark);
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      
    }
    
    .nav a::after{
      content: "";
      background: var(--blue);
      width: 0;
      height:2px;
      bottom: -4px;
      left:0;
      transition: .3s;
      position: absolute;
    }

    .nav a.active::after{
      width: 100%;
    }
    .nav a:hover::after{
      width: 100%;
    }

    section{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 40px;
      min-height: 100vh;
    }

    .cta{
      position: fixed;
      right:24px;
      bottom: 24px;
      color: white;
      background-color: var(--blue);
      border-radius: 6px;
      padding: 16px 20px;
      text-decoration: none;
      box-shadow: 0 12px 20px rgba(0,0,0,0.2);
      transition: .3s;
      z-index: 999;
    }

    .cta:hover{
      transform: translateY(-4px);
      background: var(--dark);
    }

    